@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    font-family: 'Amiri', serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}
/*header*/
.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header{
    position: absolute;
    right: 15px;
    padding: 0 15px;
    z-index: 10;
}

header .row{
    align-items: center;
}

header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a{
    font-size: 16px;
    text-decoration: none;
    line-height: 60px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}

header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #fff;
    width: 0%;
    position: absolute;
    right: 0;
    bottom: -1px;
    transition: all .5s ease;
}

header .navbar ul li a:hover::before{
    width: 100%;
    left: 0;
}

header .navbar ul li a.current::before{
    width: 100%;
    left: 0;
}
/*end of header*/

/*home*/
.home{
    min-height: 100vh;
    background-image: url(image/home.jpg);
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen{
    min-height: 100vh;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 4px solid #fff;
    margin-top: 50px;
}


.home .home-content .block h1{
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 3.5rem;
}

.home .home-content .block h3{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 3.5rem;
}
/*button download*/

.button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    -webkit-transition: background .8s ease;
    transition: background .8s ease;
    margin-top: 0.80rem;
  }
  .button:hover {
    background: rgba(100, 0, 0, 0.03);
  }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    -webkit-transition: -webkit-transform .8s ease;
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease, -webkit-transform .8s ease;
    will-change: transform;
  }
  .button__horizontal::before, .button__vertical::before {
    content: '';
    position: absolute;
    border: inherit;
  }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
  .button:hover .button__horizontal {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
  .button:hover .button__vertical {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
/*end of button donload*/
/*end of home*/








